/*Valine*/
#valine_container .vcards .vhead .vsys {
    color: #7889c3;
}
#comments #valine_container .vwrap .vemojis .vemoji,#comments #valine_container .vwrap .vpreview .vemoji {
    max-height: 22px !important;
    max-width: 50px !important;
}
#comments #valine_container .vcards .vcontent .vemoji {
    max-height: 24px !important;
    max-width: 50px !important;
}
/*mac*/
.code-block-fullscreen {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-width:100%;
    z-index:9999999;
    margin:0;
    animation:elastic 1s
}
.code-block-fullscreen-html-scroll {
    overflow:hidden
}

