/*Valine*/
#valine_container .vcards .vhead .vsys {
    color: #7889c3;
}
#comments #valine_container .vwrap .vemojis .vemoji,#comments #valine_container .vwrap .vpreview .vemoji {
    max-height: 22px !important;
    max-width: 50px !important;
}
#comments #valine_container .vcards .vcontent .vemoji {
    max-height: 24px !important;
    max-width: 50px !important;
}
/*code-block-fullscreen*/
.code-block-fullscreen {
    position:fixed !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
    min-width:100% !important;
    z-index:9999999 !important;
    margin:0 !important;
    animation:elastic 3s !important;
}
.code-block-fullscreen-html-scroll {
    overflow:hidden;
}
.code-block-fullscreen-overflow-auto {
    overflow:auto;
}

